body {
  background-color: black;
}

.App {
  margin: 10px;
}
#text {
  min-height: 500px;
  width: 600px;
  margin-left: 100px;
}
#preview {
  background-color: white;
  height: auto;
  width: 600px;
}
